*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

li {
  list-style: none;
}

ul {
  gap: $xxs;
  display: flex;
  flex-direction: row;
}

select,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  @include flex(column, center, center);
  background: $alice-blue;
  flex-shrink: 0;
}
