*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

li {
  list-style: none;
}

select, input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body {
  background: $solitude;
  height: 100vh;
  padding: 173px 194px;
}
