.form {
  @include flex(column, center, center);
  width: 642px;
  height: 871px;
  flex-shrink: 0;
  border-radius: $r-md;
  background: $white;
  box-shadow: 0px 22px 35px 0px rgba(5, 27, 105, 0.12);
}
