@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;800&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

li {
  list-style: none;
}

ul {
  gap: 10px;
  display: flex;
  flex-direction: row;
}

select,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f4f9ff;
  flex-shrink: 0;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 702px;
  height: 931px;
  margin: 50px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #e8f1fd;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 642px;
  height: 871px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 22px 35px 0px rgba(5, 27, 105, 0.12);
}

.title {
  display: flex;
  width: 254px;
  flex-direction: column;
  flex-shrink: 0;
  color: #1b1c40;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.text-top {
  display: flex;
  width: 381px;
  flex-direction: column;
  flex-shrink: 0;
  color: #1b1c40;
  font-size: 20px;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
  line-height: normal;
  font-style: normal;
  text-align: center;
  margin: 30px;
}
.text-middle {
  color: #000000;
  font-size: 18px;
  font-weight: 800;
  opacity: 0.5;
  font-family: "Mulish", sans-serif;
  line-height: normal;
  font-style: normal;
  text-align: center;
  margin: 20px;
}
.text-footer {
  display: flex;
  width: 274px;
  flex-direction: column;
  margin-top: 40px;
  flex-shrink: 0;
  color: #1e2c4b;
  font-size: 14px;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  line-height: normal;
  font-style: normal;
  text-align: center;
}

.buttonJoin,
.buttonCreate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 364px;
  height: 61px;
  flex-shrink: 0;
  color: #ffffff;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-radius: 5px;
}
.buttonJoin:hover,
.buttonCreate:hover {
  filter: brightness(120%);
}

.buttonJoin {
  background: #4968ad;
}

.buttonCreate {
  background: #1e2c4b;
  margin-top: 22px;
}

.inputBox,
.inputName {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  flex-shrink: 0;
  border: 2px solid #c8d1e5;
  border-radius: 5px;
  background: #ffffff;
  padding-left: 25px;
  padding-top: 19px;
  padding-bottom: 19px;
  color: #1b1c40;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  opacity: 0.5;
}

.inputName {
  width: 177px;
  height: 61px;
}

.inputBox {
  width: 364px;
  height: 61px;
  margin-top: 22px;
}/*# sourceMappingURL=main.css.map */