$midnight-express: #151b32;
$periwinkle: #bfc8e6;
$white: #ffffff;
$royal-blue: #516fd4;
$ghost: #fbfcff;
$cornflower-blue: #849fff;
$periwinkle-heavy: #bcc6e7;
$periwinkle-light: #bfc8e5;
$solitude: #e6eaf8;
